@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<script src="https://kit.fontawesome.com/dfd2096e8b.js" crossorigin="anonymous"></script>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item px-3">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-user fa-class"></i><span class="ms-2">@User.Identity?.Name</span></a>
    </li>
    <li class="nav-item px-3">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Create", "FavouriteEvents", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><i class="fa-solid fa-door-open fa-class"></i><span class="ms-2">Logout</span></button>
        </form>
    </li>
}
else
{
    <li class="nav-item px-3">  
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-user fa-class"></i><span class="ms-2">Login</span></a>
    </li>
}
</ul>


<style>
    .fa-class{
        color:#B7D1E2;
    }
    .nav-item:hover{
        background-color:#E8ECEF;
        border-radius:20px;
            
    }
</style>