html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#sideNav {
    float: left;
}

#sideNav .navbar-nav .nav-item .nav-link {
        font-weight: 800;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        text-align: center;
    }

    #sideNav .navbar-toggler:focus {
        outline-color: #d48a6e;
    }