@model EventHub_App.Models.FavouriteEvent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FavouriteEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="FavouriteEventName" class="control-label"></label>
                <input asp-for="FavouriteEventName" class="form-control" />
                <span asp-validation-for="FavouriteEventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventDate" class="control-label"></label>
                <input asp-for="FavouriteEventDate" class="form-control" />
                <span asp-validation-for="FavouriteEventDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="FavouriteEventTime" class="control-label"></label>
                <input asp-for="FavouriteEventTime" class="form-control" />
                <span asp-validation-for="FavouriteEventTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventPriceMin" class="control-label"></label>
                <input asp-for="FavouriteEventPriceMin" class="form-control" />
                <span asp-validation-for="FavouriteEventPriceMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventPriceMax" class="control-label"></label>
                <input asp-for="FavouriteEventPriceMax" class="form-control" />
                <span asp-validation-for="FavouriteEventPriceMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventPriceCurrency" class="control-label"></label>
                <input asp-for="FavouriteEventPriceCurrency" class="form-control" />
                <span asp-validation-for="FavouriteEventPriceCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventUrl" class="control-label"></label>
                <input asp-for="FavouriteEventUrl" class="form-control" />
                <span asp-validation-for="FavouriteEventUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteEventVenue" class="control-label"></label>
                <input asp-for="FavouriteEventVenue" class="form-control" />
                <span asp-validation-for="FavouriteEventVenue" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}