
@{
    ViewData["Title"] = "Home Page";
}

<body onload="initialize()">

    <h1>Don't know where to go? </h1>
    <h2>input your city and check out the list of suggested things!</h2>
      <form action="/" name="address" method="GET">
        <!-- <label for="address">Search Your City</label> -->
        <input id="address" name="address" type="text" />
        <input type="submit" value="Search" onclick="codeAddress()" class="btn btn-secondary btn-lg" />
      </form>

  <div class="container">
    <div class="row">
      <div class="col">
      </div>
    <div class="col" id="map">
    </div>
  </div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDz_qxllhGeL9ZGB7kNBoXaOj0IVYNB1Sw&callback=initMap" async defer>
    </script>
    <script>
        var geocoder;
        var map;
        var lat = '';
        var lng = '';

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 43.6532, lng: -79.3832 },
                zoom: 14
            });
            var input = document.getElementById('address');


            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
        }


        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(43.6532, -79.3832);
            var mapOptions = {
                zoom: 12,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    lat = results[0].geometry.location.lat();
                    lng = results[0].geometry.location.lng();
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

    </script>
</body>